body {
  margin: 0;
  min-height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;

  background: #0b3c5d;
  color: white;
}
@keyframes fall {
  to {
    transform: translateY(110vh);
  }
}