body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;

  /* Fondo azul navideño */
  background-color: #0b3c5d;

  /* Copos de nieve */
  background-image:
    radial-gradient(white 2.5px, transparent 2.5px),
    radial-gradient(white 1.8px, transparent 1.8px),
    radial-gradient(white 1.2px, transparent 1.2px);

  background-size: 70px 70px, 120px 120px, 180px 180px;
  background-position: 0 0, 40px 60px, 90px 130px;
}